
body {
		background-color: #dcddde;
	
}

.texto {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 45px;
}

.texto1 {
	text-align: center;
	font-family: 'Livvic', sans-serif;
	font-size: 15px;
}

.textoClave {
	text-align: center;
	font-family: 'Livvic', sans-serif;
	font-size: 40px;
}

.table {
	background-color: #F9F9FB;
	width: 30%;
	min-width: 418px;
	max-width: 418px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	vertical-align: center;
	padding: 15px;
	-webkit-box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
-moz-box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
}

.max{
	max-width: 100%;
}
.image5{
	width: 50%;
}


.table123 {
	background-color: #F9F9FB;
	width: 30%;
	min-width: 418px;
	max-width: 418px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
	vertical-align: center;
	padding: 15px;
	-webkit-box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
-moz-box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
}


.tableIndex {
	width: 60%;
	min-width: 418px;
	max-width: 418px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	vertical-align: center;
	padding: 15px;
}

.tableDev {
	background-color: #F9F9FB;
	width: 30%;
	min-width: 418px;
	max-width: 418px;
	min-height: 715px;
	max-height: 715px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 30px;
	vertical-align: center;
	padding: 15px;
	-webkit-box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
-moz-box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
}

.tr1 {
	width: 95%;
}

.tr2 {
	width: 80%;
	padding: 30px;
}

.td1 {
	width: 95%;
}

.td2 {
	width: 40%;
}

.cajaSombra {
	-webkit-box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
-moz-box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
box-shadow: -4px 4px 53px 10px rgba(105,102,105,0.77);
}

.usuario {
	width: 95%;
}
.usuario1 {
	width: 95%;
}

.texto2 {
	text-align: center;
	font-family: 'Livvic', sans-serif;
	font-size: 30px;
}

.us1{
	width: 20%;
}
.us2{
	width: 75%;
}
.img123{
	width: 80px;
}
.image1 {
	width: 70%;
}
.image2 {
	width: 65%;
}
.image3 {
	width: 100%;
}


.input {
	outline: none;
	padding: 15px;
	width: 90%;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: auto;
}

.tdP {
	width: 40%;
}

.tdE {
	width: 40%;
}

.inputSubmit {
	outline: none;
	padding: 15px;
	width: 90%;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: auto;
	cursor: pointer;
	background-color: #5ec443;
	color: #1c1c1b;
}

.inputSubmit[type="submit"]:hover {
	background-color: #1c1c1b;
	color: #5ec443;
}

.inputSubmitDev {
	outline: none;
	padding: 15px;
	width: 90%;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: auto;
	cursor: pointer;
	background-color: #1c1c1b;
	color: #5ec443;
}

.inputSubmitDev[type="submit"]:hover {
	background-color: #5ec443;
	color: #1c1c1b;
}

.inputSubmit2 {
	outline: none;
	padding: 15px;
	width: 90%;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: auto;
	cursor: pointer;
	background-color: #fb2e01;
}

.inputSubmit2[type="submit"]:hover {
	background-color: #1c1c1b;
	color: white;
}

.inputSubmitHome {
	outline: none;
	padding: 15px;
	width: 90%;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: auto;
	cursor: pointer;
	background-color: #65a0db;
}

.inputSubmitHome[type="submit"]:hover {
	background-color: #042c54;
	color: white;
}

.inputSubmitHome1 {
	outline: none;
	padding: 15px;
	width: 90%;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: auto;
	cursor: pointer;
	background-color: #073073;
	color: white;
}

.inputSubmitHome1[type="submit"]:hover {
	background-color: #212121;
	color: white;
}

.inputSubmit3 {
	outline: none;
	padding: 15px;
	width: 90%;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: auto;
	cursor: pointer;
}

.inputSubmit3[type="submit"]:hover {
	background-color: #2b2c2e;
	font-style: #fb2e01;
	color: #ffffff;

}


